.resultbox {
  width: 100%;
  border-radius: 8px;
  background-color: rgba(245, 235, 224, 0.8);
  position: relative;
  z-index: 10;
}

.searchbar_form {
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}

.searchbar_input {
  height: 40px;
  text-align: left;
  border-radius: 20px;
  font-size: 20px;
  border: solid #f5ebe0;
}

.searchbar_input {
  height: 30px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  border: solid #f5ebe0;
}

.reset_button {
  position: relative;
  z-index: 10;
}

@media (max-width: 480px) {
  .resultbox {
    width: 100px;
  }
  .searchbar_input {
    width: 70px;
  }
}
