.frame2-container {
  min-height: 100vh;
  margin-top: -220px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.frame2-frame2 {
  width: 100%;
  height: 3500px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame2-text {
  top: 415px;
  left: 836px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  z-index: 1;
}
.frame2-text001 {
  top: 312px;
  left: 836px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-rectangle392 {
  top: 507px;
  left: 0px;
  width: 1920px;
  height: 1478px;
  position: absolute;
  border-color: transparent;
}
.frame2-text003 {
  top: 2099px;
  left: 108px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text005 {
  top: 2853px;
  left: 1033px;
  color: rgb(61, 61, 61);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text013 {
  top: 1584px;
  left: 103px;
  color: rgba(61, 61, 61, 1);
  width: 729px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Georgia;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text015 {
  top: 1677px;
  left: 103px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text020 {
  top: 1758px;
  left: 103px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text033 {
  top: 553px;
  left: 839px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Georgia;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-anniespratt4-wt--nx-xm-k0unsplash1 {
  top: 312px;
  left: 0px;
  width: 580px;
  height: 1069px;
  position: absolute;
  border-color: transparent;
}
.frame2-susanwilkinsonur-ob--sje--ccunsplash1 {
  top: 1777px;
  left: 1033px;
  width: 784px;
  height: 999px;
  position: absolute;
  border-color: transparent;
}
.frame2-image118 {
  top: 1546px;
  left: 1221px;
  width: 430px;
  height: 424px;
  position: absolute;
  border-color: transparent;
}
.frame2-image139 {
  left: 275px;
  width: 481px;
  bottom: 173px;
  height: 480px;
  position: absolute;
  border-color: transparent;
}
.frame2-text035 {
  top: 632px;
  color: rgb(0, 0, 0);
  margin-left: 830px;
  width: 980px;
  height: auto;
  position: sticky;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text043 {
  top: 871px;
  left: 835px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text048 {
  top: 1076px;
  left: 830px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text052 {
  top: 1253px;
  left: 832px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text063 {
  top: 822px;
  left: 839px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text065 {
  top: 988px;
  left: 833px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text070 {
  top: 1215px;
  left: 833px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text072 {
  top: 2178px;
  left: 103px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text074 {
  top: 2257px;
  left: 103px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text083 {
  top: 2504px;
  left: 108px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text085 {
  top: 2583px;
  left: 108px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Georgia;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text087 {
  top: 2662px;
  left: 108px;
  color: rgba(61, 61, 61, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text096 {
  color: rgba(0, 0, 0, 1);
  bottom: 351px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-bottom: 0;
  margin-left: 1030px;
  text-decoration: none;
}
.frame2-text113 {
  color: rgba(61, 61, 61, 1);
  bottom: 247px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-bottom: 0;
  margin-left: 1030px;
  text-decoration: none;
}
