/.idea/.gitignore
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/S08P22B207.iml
/.idea/vcs.xml
