.add_info {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F3EF;

  .form_box{
    border: 1px solid red;
    height: 65%;
    width: 70%;
    display: flex;
    border-radius: 8px;

    .info_box{
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      justify-content: center;
      align-items: center;
    }

    .img_box {
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      border-radius: 8px;
      background-color: #D9D9D9;

      .preview_img {
        width: 65%;
        height: 70%;
        object-fit: cover;
      }
    }

  }
}
