.perfume_item {
  width: 250px;
  height: 370px;
  margin: 0px 0px 70px 60px;
  background-color: #f5ebe0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='4' stroke-dasharray='20%2c 30' stroke-dashoffset='59' stroke-linecap='square'/%3e%3c/svg%3e");

  .background {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
    background-size: cover;
    background-image: url("../../../asset/images/add_review_background_img.png");

    .perfume_img_box {
      margin: 10px 15px 15px 15px;
      .perfume_img {
        width: 100px;
        height: 100px;
        margin: 60px auto;

        background-image: url("../../../asset/images/plus.svg");
        background-size: cover;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    > p {
      margin: 0px 0px 3px 25px;
    }

    .perfume_name {
      font-size: 1.5rem;
      margin: 0px 0px 0px 0px;
      text-align: center;
    }
  }
}

@media (max-width: 1536px) {
  .perfume_item {
    width: 200px;
    height: 290px;
    margin: 0px 0px 70px 60px;

    .background {
      .perfume_img_box {
        margin: 10px 15px 15px 20px;
        .perfume_img {
          width: 100px;
          height: 100px;
        }
      }

      .perfume_name {
        font-size: 1.2rem;
        margin: -30px 0px 0px 0px;
      }
    }
  }
}

@media (max-width: 981px) {
  .perfume_item {
    width: 150px;
    height: 245px;
    margin: 0px 0px 70px 60px;

    .background {
      .perfume_img_box {
        margin: 10px 15px 15px 20px;
        .perfume_img {
          width: 50px;
          height: 50px;
        }
      }

      .perfume_name {
        font-size: 0.8rem;
        margin: -10px 0px 0px 0px;
      }
    }
  }
}

@media (max-width: 480px) {
  .perfume_item {
    width: 120px;
    height: 205px;
    margin: 0px 0px 30px 40px;

    .background {
      .perfume_img_box {
        margin: 10px 15px 15px 20px;
        .perfume_img {
          width: 50px;
          height: 50px;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      .perfume_name {
        font-size: 0.7rem;
        margin: 0px 0px 0px 0px;
      }
    }
  }
}
