.perfume_item {
  width: 250px;
  height: 370px;
  margin: 0px 0px 70px 60px;
  background-color: #f5ebe0;

  box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.41);

  .perfume_img_box {
    margin: 10px 15px 15px 15px;
    position: relative;
    perspective: 600px;

    .perfume_img {
      width: 220px;
      height: 200px;
      transform-style: preserve-3d;
      transition-property: transform;
      transition-duration: 1s;

      background-color: white;

      > div {
        display: flex;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
      }

      .front {
        width: 100%;
        height: 100%;
        z-index: 10;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .back {
        width: 100%;
        height: 100%;
        z-index: 5;
        // display: none;
        transform: rotateY(180deg);
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  > p {
    margin: 0px 0px 3px 25px;
  }

  .perfume_name {
    font-size: 1.2rem;
    margin: 0px 0px 0px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .perfume_brand {
    margin: -3px 0px 5px 25px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.perfume_item {
  .perfume_img_box:hover {
    .perfume_img {
      transform: rotateY(180deg);
    }
  }
}

@media (max-width: 1536px) {
  .perfume_item {
    width: 200px;
    height: 290px;
    margin: 0px 0px 70px 60px;

    .perfume_img_box {
      margin: 10px 15px 15px 20px;
      .perfume_img {
        width: 160px;
        height: 150px;

        background-color: white;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    > p {
      margin: 0px 0px 3px 25px;
      font-size: 0.8rem;
    }

    .perfume_name {
      width: 100%;
      font-size: 0.9rem;
      margin: 0px 0px 0px 25px;
    }

    .perfume_brand {
      margin: -3px 0px 5px 25px;
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 981px) {
  .perfume_item {
    width: 150px;
    height: 245px;
    margin: 0px 0px 70px 60px;

    .perfume_img_box {
      margin: 10px 15px 10px 15px;
      .perfume_img {
        width: 120px;
        height: 120px;

        background-color: white;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    > p {
      margin: 0px 0px 3px 20px;
      font-size: 0.7rem;
    }

    .perfume_name {
      font-size: 0.8rem;
      margin: 0px 0px 0px 20px;
    }

    .perfume_brand {
      margin: -3px 0px 5px 20px;
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 768px) {
  .perfume_item {
    width: 150px;
    height: 245px;
    margin: 0px 0px 70px 60px;

    .perfume_img_box {
      margin: 10px 15px 10px 15px;
      .perfume_img {
        width: 120px;
        height: 120px;

        background-color: white;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    > p {
      margin: 0px 0px 3px 20px;
      font-size: 0.7rem;
    }

    .perfume_name {
      font-size: 0.8rem;
      margin: 0px 0px 0px 20px;
    }

    .perfume_brand {
      margin: -3px 0px 5px 20px;
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 480px) {
  .perfume_item {
    width: 120px;
    height: 205px;
    margin: 0px 0px 30px 40px;

    .perfume_img_box {
      margin: 10px 15px 10px 10px;
      .perfume_img {
        width: 100px;
        height: 80px;

        background-color: white;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    > p {
      margin: 0px 0px 3px 10px;
      font-size: 0.7rem;
    }

    .perfume_name {
      font-size: 0.8rem;
      margin: 0px 0px 0px 10px;
    }

    .perfume_brand {
      margin: -3px 0px 5px 10px;
      font-size: 0.6rem;
    }
  }
}

// @keyframes flip {
//   from {
//     transform: rotateY(180deg);
//   }
// }
