.perfumes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 100px 100px 0px;
  box-sizing: border-box;
}

@media (max-width: 981px) {
  .perfumes {
    padding: 0px 25px 25px 0px;
  }
}
