.top {
  width: 1536px;
  margin: 170px auto 0px auto;

  .bg {
    height: 54px;
    text-align: center;
    background-image: url("../../asset/images/cable.svg");
    background-size: cover;
    padding-top: 1px;

    > h1 {
      margin: -60px 0px 0px 0px;
    }
  }

  .item_pinset {
    display: flex;
    justify-content: space-between;
    margin: -50px 0px -10px 0px;
    // padding: 0px 50px 0px 30px;
    > img {
      width: 20px;
      margin: 0px auto 0px auto;
      z-index: 10;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
  }
}

.container {
  position: fixed;
  bottom: -250px;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  // overflow: hidden;

  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0 0, 0 50%);
    border-radius: 50%;
  }

  .slice1 {
    transform: rotate(0deg);
    background-color: #fffbea;
  }

  .slice2 {
    transform: rotate(45deg);
    background-color: #f5ebe0;
  }

  .slice3 {
    transform: rotate(90deg);
    background-color: #f0dbdb;
  }

  .slice4 {
    transform: rotate(135deg);
    background-color: #ecbdbd;
  }

  .slice:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  .slice1:hover {
    transform: rotate(0deg) scale(1.1);
  }

  .slice2:hover {
    transform: rotate(45deg) scale(1.1);
  }

  .slice3:hover {
    transform: rotate(90deg) scale(1.1);
  }

  .slice4:hover {
    transform: rotate(135deg) scale(1.1);
  }
}
