.survey_question {
  width: 65vw;
  border: 4px solid #F0DBDB;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  
  .question_text {
    font-size: 1.4vw;
    font-weight: 600;
  }
}