.check {
  display: none;
}

.checkbtn {
  display: none;
}

.profile {
  width: 300px;
  height: 100%;
  background-color: #f5ebe0;
  position: fixed;
  left: 0;
  z-index: 1;

  .profile_img {
    width: 150px;
    height: 200px;
    margin: 100px 75px 20px 75px;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .user_name {
    margin: 0px 0px 0px 75px;
    font-size: 1.5rem;
  }

  .fragrances {
    margin: 0px 0px 20% 75px;
    > p {
      margin: 0;
      color: gray;
    }
  }

  .button {
    width: 200px;
    height: 50px;
    margin: 0px 50px 20px 50px;
    border-radius: 8px;
    background-color: #d2c8bc;
    color: white;
    border: none;
    font-size: 1.2rem;
  }
  .button:hover {
    cursor: pointer;
    background-color: #928d87;
  }
  // }
}

@media (max-width: 981px) {
  .checkbtn {
    color: #000;
    float: left;
    line-height: 90px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    position: fixed;
    left: 0;
    z-index: 2;
  }

  .profile {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 100px;
    left: -100%;
    transition: all 0.7s;
    text-align: left;
  }

  .check:checked ~ .profile {
    left: 0;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    color: #000;
    float: left;
    line-height: 65px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    position: fixed;
    left: 0;
    z-index: 2;
  }

  .profile {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 100px;
    left: -100%;
    transition: all 0.7s;
    text-align: left;
  }

  .check:checked ~ .profile {
    left: 0;
  }
}

@media (max-height: 700px) {
  .profile {
    .fragrances {
      margin-bottom: 20px;
    }
    .button {
      margin: 0px 50px 20px 50px;
    }
  }
}
